.footer{
    background-color: #F35E26;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.footer p{
    max-width: 300px;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact span{
    margin: 10px 0px;
}

.contact p{
    font-weight: bold;
}

.light{
    color: #F3F3F3;
}

.dark{
    color: #060606;
}

@media screen and (max-width: 700px){
    .footer{
       flex-wrap: wrap;
    }

    .contact{
       margin: 30px;
    }
}